{
	"arrowParens": "always",
	"tabWidth": 1,
	"semi": true,
	"printWidth": 120,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"useTabs": true,
	"parser": "typescript",
	"trailingComma": "all",
	"singleQuote": true
}
